{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザー情報{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block contents %}
<div class="user-detail-icon">
  <img src="{{ object.user_icon.url }}">
</div>
<h2 class="user-detail-name">{{ object.username }}</h2>

<div id="user-detail-menu">
  <div class="user-detail-menu-tab">
    <input id="tab-address" type="radio" value="address" v-model="tabSelected">
    <label for="tab-address">住所</label>
    <input id="tab-order-history" type="radio" value="order_history" v-model="tabSelected">
    <label for="tab-order-history">購入履歴</label>
  </div>
  <div class="user-detail-menu-body">
    <div class="user-detail-menu-address" v-if="tabSelected=='address'">
      <p>
        都道府県・市区町村・丁目
        <select v-model="prefId" @change="cityId=null; chome=null; cityName=''; chomeName=''">
          <option v-for="item in addresses.data" :value="item.id">{[ item.name ]}</option>
        </select>
        <select v-model="cityId" @change="chomeName=''">
          <option v-for="item in city" :value="item.id">{[ item.name ]}</option>
        </select>
        <select v-model="chomeName">
          <option v-for="item in chome" :value="item">{[ item ]}</option>
        </select>
      </p>
    
      <input name="pref" type="hidden" :value="prefName" required>
      <input name="city" type="hidden" :value="cityName" required>
      <input name="chome" type="hidden" :value="chomeName" required>
      <p>番地・号 <input name="banchi_go" maxlength="10" v-model="banchiGo" :disabled="!chomeName" required></p>
      <p>建物名・号室 <input name="building" maxlength="30" v-model="building" :disabled="!banchiGo"></p>
    
      <p>{[ prefName ]}{[ cityName ]}{[ chomeName ]}{[ banchiGo ]} {[ building ]}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  new Vue({
    el: '#user-detail-menu',
    data: {
      tabSelected: 'address',
      
      // address form
      addresses: null,
      prefId: null,
      prefName: '',
      city: null,
      cityId: null,
      cityName: '',
      chome: null,
      chomeName: '',
      banchiGo: '',
      building: '',
    },
    watch: {
      prefId: function() {
        if (this.prefId) {
          pref = this.addresses.data[this.prefId-1]
          this.prefName = pref.name
          this.city = pref["city"]
        }
      },
      cityId: function() {
        if (this.cityId) {
          city = this.city[this.cityId-1]
          this.cityName = city.name
          this.chome = city.chome
        }
      },
    },
    mounted: function() {
      axios.get("/static/json/addresses.json").then(response => (this.addresses = response))
    },
    delimiters: ['{[', ']}'],
  })
</script>
{% endblock %}
