{% extends 'base.html' %}

{% block title %}ユーザー情報{% endblock %}
{% block head %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block contents %}
<h4>{{ object.username }}</h4>

<div id="address-form">
  <select v-model="prefId" @change="cityId=null; chome=null">
    <option v-for="item in addresses.data" :value="item.id">{[ item.name ]}</option>
  </select>
  <select v-model="cityId">
    <option v-for="item in city" :value="item.id">{[ item.name ]}</option>
  </select>
  <select>
    <option v-for="item in chome" :value="item">{[ item ]}</option>
  </select>
</div>
{% endblock %}

{% block script %}
<script>
  new Vue({
    el: '#address-form',
    data: {
      addresses: null,
      prefId: null,
      city: null,
      cityId: null,
      chome: null,
    },
    watch: {
      prefId: function() {
        if (this.prefId) {
          this.city = this.addresses.data[this.prefId-1]["city"]
        }
      },
      cityId: function() {
        if (this.cityId) {
          this.chome = this.city[this.cityId-1].chome
        }
      },
    },
    mounted: function() {
      axios.get("/static/json/addresses.json").then(response => (this.addresses = response))
    },
    delimiters: ['{[', ']}'],
  })
</script>
{% endblock %}
