{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザー情報{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block contents %}
<div id="user-detail">
  <div class="user-detail-icon">
    <img src="{{ object.user_icon.url }}">
  </div>
  <h2 class="user-detail-name" v-if="!isEditingUN">{{ object.username }} <i class="fas fa-edit" @click="isEditingUN=true"></i></h2>
  <form class="user-detail-name-edit" method="POST" action="{% url 'users:update_username' %}" v-if="isEditingUN">
    {% csrf_token %}
    <input name="username_original" type="hidden" value="{{ object.username }}">
    <input name="username" placeholder="{{ object.username }}" :value="username" v-model="username">
    <button type="button" v-if="!username" @click="isEditingUN=false">戻る</button>
    <button type="submit" v-if="username">変更</button>
  </form>

  <div class="user-detail-menu-tab">
    <input id="tab-address" type="radio" value="address" v-model="tabSelected">
    <label for="tab-address">住所</label>
    <input id="tab-order" type="radio" value="order" v-model="tabSelected">
    <label for="tab-order">注文</label>
    <input id="tab-order-history" type="radio" value="order_history" v-model="tabSelected">
    <label for="tab-order-history">過去の注文</label>
  </div>
  <div class="user-detail-menu-body">
    <div v-if="tabSelected=='address'">
      {% for address in addresses %}
        {% if address.building %}
          <p>{{ address.address_type }}：{{ address.pref }}{{ address.city }}{{ address.chome }}{{ address.banchi_go }} {{ address.building }}</p>
        {% else %}
          <p>{{ address.address_type }}：{{ address.pref }}{{ address.city }}{{ address.chome }}{{ address.banchi_go }}</p>
        {% endif %}
      {% empty %}
        <p>住所が登録されていません。</p>
      {% endfor %}
      <button class="user-detail-menu-address-form-btn" @click="isShowAF=true">住所を追加</button>
      <div id="user-detail-menu-address-form-overlay" v-if="isShowAF" @click="isShowAF=false"></div>
      <div class="user-detail-menu-address-form" v-if="isShowAF">
        <p>
          都道府県
          <select v-model="prefId" @change="cityId=null; chome=null; cityName=''; chomeName=''">
            <option v-for="item in addresses.data" :value="item.id">{[ item.name ]}</option>
          </select>
        </p>
        <p>
          市区町村
          <select v-model="cityId" @change="chomeName=''" :disabled="!prefId">
            <option v-for="item in city" :value="item.id">{[ item.name ]}</option>
          </select>
        </p>
        <p>
          丁目
          <select v-model="chomeName" :disabled="!cityId">
            <option v-for="item in chome" :value="item">{[ item ]}</option>
          </select>
        </p>
        <form method="POST" action="{% url 'addresses:add_address' 'user_detail' %}">
          {% csrf_token %}
          <input name="pref" type="hidden" :value="prefName" required>
          <input name="city" type="hidden" :value="cityName" required>
          <input name="chome" type="hidden" :value="chomeName" required>
          <p>番地・号 <input name="banchi_go" maxlength="10" v-model="banchiGo" :disabled="!chomeName" required></p>
          <p>建物名・号室 <input name="building" maxlength="30" v-model="building" :disabled="!banchiGo"></p>
          <p>住所区分 <input name="address_type" maxlength="10" placeholder="例）自宅"></p>
          <p class="user-detail-menu-address-form-submit"><button type="submit" :disabled="!banchiGo">登録</button></p>
        </form>
        <div class="user-detail-menu-address-form-view-section">
          <p>{[ prefName ]}{[ cityName ]}{[ chomeName ]}{[ banchiGo ]}</p>
          <p>{[ building ]}</p>
        </div>
      </div>
    </div>

    <div v-if="tabSelected=='order'">
      {% for order in orders %}
        <p>{{ order.ordered_at }} {{ order.address.address_type }}</p>
      {% empty %}
        <p>注文がありません。</p>
      {% endfor %}
    </div>

    <div v-if="tabSelected=='order_history'">
      {% for order in orders_ended %}
        {% if order.status == 'delivered' %}
          <p>{{ order.ended_at }} {{ order.address.address_type }} 配達済み</p>
        {% elif order.status == 'cancelled' %}
          <p>{{ order.ended_at }} {{ order.address.address_type }} キャンセル</p>
        {% endif %}
      {% empty %}
        <p>過去の注文がありません。</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  new Vue({
    el: '#user-detail',
    data: {
      // user name
      isEditingUN: false,
      username: '',

      // select menu
      tabSelected: 'address',
      
      // address form
      isShowAF: false,
      addresses: null,
      prefId: null,
      prefName: '',
      city: null,
      cityId: null,
      cityName: '',
      chome: null,
      chomeName: '',
      banchiGo: '',
      building: '',
    },
    watch: {
      prefId: function() {
        if (this.prefId) {
          pref = this.addresses.data[this.prefId-1]
          this.prefName = pref.name
          this.city = pref["city"]
        }
      },
      cityId: function() {
        if (this.cityId) {
          city = this.city[this.cityId-1]
          this.cityName = city.name
          this.chome = city.chome
        }
      },
    },
    mounted: function() {
      axios.get("/static/json/addresses.json").then(response => (this.addresses = response))
    },
    delimiters: ['{[', ']}'],
  })
</script>
{% endblock %}
