{% load static %}
{% load my_filters %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  {% block head %}{% endblock %}
</head>

<body>
  <header id="header">
    <nav>
      <h3 id="nav-title"><a href="/">となん亭</a></h3>
      <p id="hamburger-menu" @click="openHamburgerMenu"><i class="fas fa-bars"></i></p>
      <p id="shopping-cart" @click="openShoppingCart"><i class="fas fa-shopping-cart"></i></p>
    </nav>

    <div id="hamburger-overlay" v-if="isShowHM" @click="closeHamburgerMenu"></div>
    <transition name="hamburger-menu">
      <div class="hamburger-menu" v-if="isShowHM">
        <h5>顧客用ページ</h5>
          <p>商品一覧<a href="/"></a></p>
          {% if user.is_authenticated %}
            <p>ログアウト<a href="/accounts/logout"></a></p>
          {% else %}
            <p>新規登録<a href="/accounts/signup"></a></p>
            <p>ログイン<a href="/accounts/login"></a></p>
          {% endif %}
        <h5>管理者用ページ</h5>
          <p>管理サイト<a href="/admin"></a></p>
          {% if user.is_superuser %}
            <p>商品出品<a href="/create-post"></a></p>          
          {% endif %}
      </div>
    </transition>

    <transition name="shopping-cart">
      <div class="shopping-cart" v-if="isShowSC">
        <div class="nav-shopping-cart">
          <h4>買い物かご</h4>
          <p @click="closeShoppingCart"><i class="fas fa-chevron-left"></i></p>
        </div>

        <div class="contents-field">
          {% if user.is_authenticated %}
            {% with user.get_username|get_shopping_cart as cart_obj_list %}
              {% for cart_obj in cart_obj_list %}
                <shopping-cart-component
                  pk="{{ cart_obj.pk }}"
                  post-pk="{{ cart_obj.post.pk }}"
                  post-img-url="{{ cart_obj.post.image.url }}"
                  post-part-name="{{ cart_obj.post.part_name }}"
                  post-num-grams="{{ cart_obj.post.num_grams }}"
                  post-price="{{ cart_obj.post.price }}"
                  order-amt="{{ cart_obj.order_amt }}"
                ></shopping-cart-component>
              {% empty %}
                <p>買い物かごが空です。</p>
              {% endfor %}
            {% endwith %}
          {% else %}
            <p>ログインしていないため、買い物かごを表示できません。</p>
          {% endif %}
        </div>
      </div>
    </transition>
  </header>

  <div class="contents-field">
    {% block contents %}{% endblock %}
  </div>

  {% block script %}{% endblock %}

  <script type="text/x-template" id="shopping-cart-component">
    <section>
    <div class="shopping-cart-obj-section">
      <img class="shopping-cart-obj-img" :src="postImgUrl">
      <h4 class="shopping-cart-obj-name"><a :href="'/post-detail/' + postPk + '/'">[[ postPartName ]][[ postNumGrams ]]g</a></h4>
      <div class="shopping-cart-obj-price">
        <p>×[[ orderAmt ]]</p>
        <h4>[[ postPrice * orderAmt ]]円</h4>
      </div>
      <a class="shopping-cart-obj-delete-btn" @click="openShoppingCartDeleteModal">消去</a>
    </div>
    <div class="shopping-cart-delete-modal-overlay" v-if="isShowSCDM"></div>
    <div class="shopping-cart-delete-modal" v-if="isShowSCDM">
      <form method="POST" action="{% url 'users:remove_from_shopping_cart' %}">
        {% csrf_token %}
        <p>この商品を買い物かごから消去しますか？</p>
        <input type="number" name="pk" :value="pk">
        <button class="sc-delete-modal-btn-L" type="button" @click="closeShoppingCartDeleteModal">キャンセル</button>
        <button class="sc-delete-modal-btn-R" type="submit">消去</button>
      </form>
    </div>
    </section>
  </script>

  <script>
    var shoppingCartComponent = {
      template: '#shopping-cart-component',
      props: {
        pk: Number,
        postPk: Number,
        postImgUrl: String,
        postPartName: String,
        postNumGrams: Number,
        postPrice: Number,
        orderAmt: Number,
      },
      data: function() {
        return {
          isShowSCDM: false,
        }
      },
      methods: {
        openShoppingCartDeleteModal: function() {
          this.isShowSCDM = true
        },
        closeShoppingCartDeleteModal: function() {
          this.isShowSCDM = false
        },
      },
      delimiters: ['[[', ']]'],
    }

    new Vue({
      el: '#header',
      data: {
        isShowHM: false,
        isShowSC: false,
      },
      methods: {
        openHamburgerMenu: function() {
          this.isShowHM = true
        },
        closeHamburgerMenu: function() {
          this.isShowHM = false
        },
        openShoppingCart: function() {
          this.isShowSC = true
        },
        closeShoppingCart: function() {
          this.isShowSC = false
        },
      },
      components: {
        'shopping-cart-component': shoppingCartComponent,
      },
    })
  </script>
</body>
</html>
