{% extends 'base.html' %}
{% load static %}

{% block title %}商品一覧{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block contents %}
<div id="post-list">
  {% if post_list %}
    <div class="post-card-container">
      {% for post in post_list %}
        <post-card-component
          pk="{{ post.pk }}"
          part-name="{{ post.part_name }}"
          details="{{ post.details }}"
          img-url="{{ post.image.url }}"
          price="{{ post.price }}"
          num-grams="{{ post.num_grams }}"
          stock-amt="{{ post.stock_amt }}"
        ></post-card-component>
      {% endfor %}
    </div>
  {% else %}
    <p>まだ商品がありません。</p>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script type="text/x-template" id="post-card-component">
  <section>
  <div class="post-card">
    <p class="post-card-link" @click="openPostModal"></p>
    <div class="post-card-img">
      <img :src="imgUrl">
    </div>
    <div class="post-card-btm-section">
      <h3 class="post-card-post-name">[[ partName ]] [[ numGrams ]]g</h3>
      <div class="post-card-meta-section">
        <p class="post-card-price">[[ price ]]円</p>
        <p class="post-card-stock-amt">残り：[[ stockAmt ]]個</p>
      </div>
    </div>
  </div>

  <div class="post-modal-overlay" v-if="isShowPM" @click="closePostModal"></div>
  <div class="post-modal" v-if="isShowPM">
    <div class="post-modal-img">
      <img :src="imgUrl">
    </div>
    <p class="post-modal-details" v-if="details==''">これは、[[ partName ]][[ numGrams ]]gです。</p>
    <p class="post-modal-details" v-else>[[ details ]]</p>
    <a class="post-modal-link" :href="'/post-detail/' + pk">商品詳細ページ</a>
    <form class="post-modal-order-section" method="POST" :action="'/users/add2-shopping-cart/' + pk + '/'">
      {% csrf_token %}
      <p class="post-modal-order-btn-amt" @click="minusOrderAmt"><i class="fas fa-minus"></i></p>
      <input class="post-modal-order-amt" type="number" name="order_amt" :value="orderAmt" min=0 :max="stockAmt">
      <p class="post-modal-order-btn-amt" @click="plusOrderAmt"><i class="fas fa-plus"></i></p>
      <button class="post-modal-order-btn-enter">カートに追加</button>
    </form>
    <p class="post-modal-order-error-message">[[ orderAmtErrorMessage ]]</p>
  </div>
  </section>
</script>

<script>
  var PostCardComponent = {
    template: '#post-card-component',
    props: {
      pk: Number,
      partName: String,
      details: String,
      imgUrl: String,
      price: Number,
      numGrams: Number,
      stockAmt: Number,
    },
    data: function() {
      return {
        isShowPM: false,
        orderAmt: 0,
        orderAmtErrorMessage: '',
      }
    },
    methods: {
      openPostModal: function() {
        this.isShowPM = true
      },
      closePostModal: function() {
        this.isShowPM = false
      },
      plusOrderAmt: function() {
        this.orderAmt += 1
      },
      minusOrderAmt: function() {
        this.orderAmt -= 1
      },
      clearOrderAmtErrorMessage: function() {
        this.orderAmtErrorMessage = ''
      },
    },
    watch: {
      orderAmt: function() {
        if (this.orderAmt < 0) {
          this.orderAmt = 0
        }
        if (this.orderAmt > this.stockAmt) {
          this.orderAmt = this.stockAmt
          this.orderAmtErrorMessage = 'これ以上注文できません。'
          setTimeout(this.clearOrderAmtErrorMessage, 3000)
        }
      },
    },
    delimiters: ['[[', ']]'],
  }

  new Vue({
    el: '#post-list',
    components: {
      'post-card-component': PostCardComponent,
    },
  })
</script>
{% endblock %}
