{% extends 'base.html' %}
{% load static %}

{% block title %}商品詳細{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{% block contents %}
<img class="post-detail-img" src="{{ object.image.url }}">
<h2 class="post-detail-post-name">{{ object.part_name }} {{ object.num_grams }}g</h2>
{% if object.details == '' %}
  <p class="post-detail-details">これは、{{ object.part_name }}{{ object.num_grams }}gです。</p>
{% else %}
  <p class="post-detail-details">{{ object.details }}</p>
{% endif %}
<div class="post-detail-meta-section">
  <p>価格：{{ object.price }}円</p>
  <p>在庫数：{{ object.stock_amt }}個</p>
  <p><a href="{% url 'post:delete_post' object.pk %}">商品削除</a></p>
</div>
{% endblock %}
