{% extends 'base.html' %}
{% load static %}

{% block title %}商品一覧{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block contents %}
<div id="post-list">
  {% if post_list %}
    <div class="post-card-container">
      {% for post in post_list %}
        <post-card-component
          part-name="{{ post.part_name }}"
          details="{{ post.details }}"
          img-url="{{ post.image.url }}"
          price="{{ post.price }}"
          num-grams="{{ post.num_grams }}"
          stock-amt="{{ post.stock_amt }}"
        ></post-card-component>
      {% endfor %}
    </div>
  {% else %}
    <p>まだ商品がありません。</p>
    <p>商品出品は<a href="/create-post">こちら</a>から。</p>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script type="text/x-template" id="post-card-component">
  <div class="post-card">
    <div class="post-card-img">
      <img :src="imgUrl">
    </div>
    <div class="post-card-btm-section">
      <h3 class="post-card-post-name">[[ partName ]] [[ numGrams ]]g</h3>
      <div class="post-card-meta-section">
        <p class="post-card-price">[[ price ]]円</p>
        <p class="post-card-stock-amt">残り：[[ stockAmt ]]個</p>
      </div>
    </div>
  </div>
</script>

<script>
  var PostCardComponent = {
    template: '#post-card-component',
    props: {
      partName: String,
      details: String,
      imgUrl: String,
      price: Number,
      numGrams: Number,
      stockAmt: Number,
    },
    data: function() {
      return {
        isShow: false,
      }
    },
    delimiters: ['[[', ']]'],
  }

  new Vue({
    el: '#post-list',
    components: {
      'post-card-component': PostCardComponent,
    },
  })
</script>
{% endblock %}
