{% extends 'base.html' %}
{% load static %}

{% block title %}商品出品{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{% block contents %}
<img class="post-detail-img" src="{{ object.image.url }}">
<h2 class="post-detail-post-name">{{ object.part_name }} {{ object.num_grams }}g</h2>
{% if object.details == '' %}
  <p class="post-detail-details">これは、{{ object.part_name }}{{ object.num_grams }}gです。</p>
{% else %}
  <p class="post-detail-details">{{ object.details }}</p>
{% endif %}
{% endblock %}
