@charset "UTF-8";


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}


/* header
------------------------- */
header {
    height: 50px;
}
header a {
    color: white;
    text-decoration: none;
    transition: color .2s;
}
header a:hover {
    color: palevioletred;
}

nav {
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
  
    width: 100%; height: 50px;
  
    background: rgba(34, 34, 34, .9);
}
#nav-title {
    line-height: 50px;
    text-align: center;
}
#hamburger-menu  {
    position: absolute;
    top: 0; left: 10px;
}
#hamburger-menu i {
    line-height: 50px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}
#shopping-cart {
    position: absolute;
    top: 0; right: 10px;
}
#shopping-cart i {
    line-height: 50px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

/* --- hamburger menu --- */
#hamburger-overlay {
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
  
    width: 100%; height: 100%;
  
    background: rgba(0, 0, 0, .3);
}
.hamburger-menu {
    position: fixed;
    top: 0; left: 0;
    z-index: 3;
  
    width: 50%; height: 100%;
  
    background: white;
    overflow: auto;
}
.hamburger-menu h5 {
    line-height: 40px;
    padding-left: 5px;

    background: #F5F5F5;
}
.hamburger-menu p {
    position: relative;

    width: calc(100% - 20px);
    line-height: 50px;
    margin: 0 20px;
    padding-left: 10px;

    color: black;
    border-bottom: solid .5px #F5F5F5;
    transition: color .2s;
}
.hamburger-menu p:hover {
    color: palevioletred;
}
.hamburger-menu a {
    position: absolute;
    top: 0; left: 0;

    width: 100%; height: 50px;
}
.hamburger-menu-enter {
    transform: translateX(-60%);
}
.hamburger-menu-enter-active {
    transition: .2s;
}

/* --- shopping cart --- */
.shopping-cart {
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
  
    width: 100%;
    min-height: 100%;
    padding-top: 40px;
  
    background: #F5F5F5;
}
.nav-shopping-cart {
    position: fixed;
    top: 0; left: 0;
    z-index: 3;

    width: 100%; height: 50px;

    background: rgba(34, 34, 34, .9);
}
.nav-shopping-cart h4 {
    line-height: 50px;
    text-align: center;

    color: white;
}
.nav-shopping-cart p {
    position: absolute;
    top: 0; left: 10px;
}
.nav-shopping-cart i {
    line-height: 50px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}
.shopping-cart-enter {
transform: translateX(100%);
}
.shopping-cart-enter-active {
transition: .5s;
}

.shopping-cart-obj-section {
    display: flex;

    width: 400px; height: 70px;
    margin: 10px auto;

    background: white;
    overflow: hidden;
}
.shopping-cart-obj-section a {
    color: black;
}
.shopping-cart-obj-section a:hover {
    color: black;
    text-decoration: underline;
}

.shopping-cart-obj-img {
    width: 70px; height: 100%;
    margin-left: 10px;

    object-fit: contain;
}
.shopping-cart-obj-name {
    width: 175px;
    line-height: 70px;
    margin-left: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shopping-cart-obj-price {
    width: 80px;
    margin: auto 0;

    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
.shopping-cart-obj-delete-btn {
    height: 30px; height: 20px;
    margin: 40px 0 0 10px;

    text-align: center;
    cursor: pointer;
}

.shopping-cart-total-price {
    margin-top: 20px;

    text-align: center;
}

.shopping-cart-delete-modal-overlay {
    position: fixed;
    top: 0; left: 0;
    z-index: 4;
  
    width: 100%; height: 100%;
  
    opacity: 0;
}
.shopping-cart-delete-modal {
    position: fixed;
    top: calc(50% - 35px);
    left: calc(50% - 165px);
    z-index: 5;

    width: 330px; height: 70px;

    background: white;
    border: solid 2px black;
}
.shopping-cart-delete-modal p {
    position: absolute;
    top: 10px; left: 0;

    width: 330px; height: 25px;

    text-align: center;
}
.shopping-cart-delete-modal input {
    display: none;
}
.sc-delete-modal-btn-L {
    position: absolute;
    top: 37px; left: 40px;

    width: 100px; height: 23px;

    cursor: pointer;
}
.sc-delete-modal-btn-R {
    position: absolute;
    top: 37px; right: 65px;

    width: 50px; height: 23px;

    cursor: pointer;
}


/* contents
------------------------- */
.contents-field {
    padding: 20px;
}
