@charset "UTF-8";


/* post card
------------------------- */
.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post-card {
    position: relative;

    width: 200px; height: 220px;
    margin: 5px;

    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    overflow: hidden;
}
.post-card:hover {
    border: solid 1px black;
}
.post-card-link {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;

    width: 200px; height: 220px;

    cursor: pointer;
}

.post-card-img {
    width: 100%; height: 70%;
    margin: 0 auto;
}
.post-card-img img {
    width: 100%; height: 100%;

    object-fit: contain;
}

.post-card-btm-section {
    width: 100%; height: 30%;
    padding: 5px;
}
.post-card-post-name {
    width: 100%;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-meta-section {
    position: relative;

    width: 100%;
}
.post-card-price {
    position: absolute;
    top: 2px; left: 7px;

    font-size: smaller;
}
.post-card-stock-amt {
    position: absolute;
    top: 2px; right: 7px;

    font-size: smaller;
}

/* --- post modal --- */
.post-modal-overlay {
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
  
    width: 100%; height: 100%;
  
    background: rgba(0, 0, 0, .3);
}
.post-modal {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
    z-index: 3;

    width: 350px; height: 400px;

    background: white;
}

.post-modal-img {
    position: absolute;
    top: 0; left: 0;

    width: 350px; height: 200px;
}
.post-modal-img img {
    width: 100%; height: 100%;

    object-fit: contain;
}

.post-modal-details {
    position: absolute;
    top: 210px; left: 10px;

    width: 330px; height: 95px;

    overflow: hidden;

    /* for Chrome, Safari and Firefox */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.post-modal-link {
    position: absolute;
    top: 310px; right: 10px;

    height: 20px;

    font-size: smaller;
}

.post-modal-order-section {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 335px; right: 10px;

    width: 330px; height: 35px;
}
.post-modal-order-btn-amt {
    width: 35px; height: 35px;
    padding: 0 5px;

    border: solid black 1.5px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.post-modal-order-btn-amt i {
    line-height: 33px;
}
.post-modal-order-amt {
    width: 50px; height: 35px;
    margin: 0 10px;

    font-size: x-large;
}
.post-modal-order-btn-enter {
    width: 100px; height: 30px;
    margin: auto 10px;

    border-radius: 5px;
    cursor: pointer;
}
.post-modal-order-error-message {
    position: absolute;
    top: 373px; left: 10px;

    width: 330px; height: 20px;

    text-align: center;
    color: palevioletred;
    font-size: smaller;
}
