@charset "UTF-8";


/* post detail
------------------------- */
.contents-field {
    max-width: 1000px;
    min-height: calc(100% - 50px);
    margin: 0 auto;

    background: white;
}

.post-detail-img {
    width: 100%; height: 50%;

    object-fit: contain;
}
.post-detail-post-name {
    margin-top: 10px;

    text-align: center;
}
.post-detail-details {
    margin-top: 10px;
}
.post-detail-about-section {
    margin-top: 10px;
}

.post-detail-meta-section {
    display: flex;
    justify-content: center;

    height: 30px;
    margin-top: 10px;
}
.post-detail-meta-section p {
    line-height: 30px;
    padding: 5px;
}

.post-detail-order-section {
    display: flex;
    justify-content: center;

    height: 35px;
    margin-top: 20px;
}
.post-detail-order-section-nouser {
    margin-top: 30px;

    text-align: center;
    font-size: smaller;
}
.post-detail-order-btn-amt {
    width: 35px; height: 35px;
    padding: 0 5px;

    border: solid black 1.5px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.post-detail-order-btn-amt i {
    line-height: 33px;
}
.post-detail-order-amt {
    width: 50px; height: 35px;
    margin: 0 10px;

    font-size: x-large;
}
.post-detail-order-btn-enter {
    width: 100px; height: 30px;
    margin: auto 10px;

    border-radius: 5px;
    cursor: pointer;
}
.post-detail-order-error-message {
    height: 20px;
    margin-top: 10px;

    text-align: center;
    color: palevioletred;
    font-size: smaller;
}
