@charset "UTF-8";


/* post card
------------------------- */
.post-card-container {
    display: flex;
    flex-wrap: wrap;
}
.post-card {
    width: 200px; height: 220px;
    margin: 5px;

    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, .4);
    overflow: hidden;
}
.post-card:hover {
    border: solid 1px black;
}
.post-card-img {
    width: 100%; height: 70%;
    margin: 0 auto;
}
.post-card-img img {
    width: 100%; height: 100%;

    object-fit: contain;
}
.post-card-btm-section {
    width: 100%; height: 30%;
    padding: 5px;
}
.post-card-post-name {
    width: 100%;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-card-meta-section {
    position: relative;

    width: 100%;
}
.post-card-price {
    position: absolute;
    top: 2px; left: 7px;

    font-size: smaller;
}
.post-card-stock-amt {
    position: absolute;
    top: 2px; right: 7px;

    font-size: smaller;
}
