@charset "UTF-8";


/* user detail
------------------------- */
.user-detail-icon {
    width: 100%;
    text-align: center;
}
.user-detail-icon img {
    width: 120px; height: 120px;

    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}
#user-detail-icon-view-overlay {
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
  
    width: 100%; height: 100%;
  
    background: rgba(0, 0, 0, .3);
}
.user-detail-icon-view {
    position: fixed;
    top: calc(50% - 150px); left: calc(50% - 150px);
    z-index: 3;

    width: 300px; height: 300px;

    object-fit: contain;
}

.user-detail-name {
    margin-top: 10px;

    text-align: center;
}
.user-detail-name i {
    font-size: .8rem;
    cursor: pointer;
}
.user-detail-name-edit {
    margin: 15px 0;

    text-align: center;
}
.user-detail-name-edit button {
    cursor: pointer;
}

/* --- user detail menu --- */
.user-detail-menu-tab {
    display: flex;
    height: 40px;
    margin-top: 10px;
}
.user-detail-menu-tab label {
    line-height: 40px;
    padding: 0 10px;

    background: #EBEBE4;
    border-radius: 13px 13px 0 0;
    cursor: pointer;
}
.user-detail-menu-tab input {
    display: none;
}
.user-detail-menu-tab input:checked + label {
    background: white;
}
.user-detail-menu-body {
    width: 100%;
    padding: 20px;

    background: white;
}

/* --- user detail menu address --- */
.user-detail-menu-address-form-btn {
    margin-top: 10px;

    cursor: pointer;
}

#user-detail-menu-address-form-overlay {
    position: fixed;
    top: 0; left: 0;
    z-index: 2;
  
    width: 100%; height: 100%;
  
    background: rgba(0, 0, 0, .3);
}
.user-detail-menu-address-form {
    position: fixed;
    top: calc(50% - 135px); left: calc(50% - 150px);
    z-index: 3;

    width: 300px; height: 270px;
    padding: 10px;

    overflow: hidden;
    background: white;
}
.user-detail-menu-address-form-submit {
    width: 280px;
    margin-top: 10px;

    text-align: center;
}
.user-detail-menu-address-form-submit button {
    cursor: pointer;
}

.user-detail-menu-address-form-view-section {
    margin-top: 15px;
}
.user-detail-menu-address-form-view-section p {
    width: 280px;

    font-size: smaller;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
